.clear {
    grid-column: span 3;
    background-color: #f0f0f0;
    color: #000;
}

.regularKey {
    background-color: #f0f0f0;
    color: #000;
}

.operator {
    background-color: #fa8231;
    color: #fff;
}

.result {
    background-color: #4285f4;
    color: #fff;
}