.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 370px;
    width: 250px;
    border: 2px solid red;
    padding: 5px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border: 2px solid green;
    height: 300px;
    padding: 0;

}

button {
    cursor: pointer;
}