.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 370px; */
    width: 250px;
    padding: 5px;
    font-family: sans-serif;
    /* background-color: #f2f3f5; */
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 320px;
    padding: 0;
}

button {
    cursor: pointer;
    border: 0;
    margin: 1px;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
}