.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 370px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
}

.mainContainer span {
    display: grid;
    justify-content: right;
    font-size: 12px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 300px;
    padding: 0;
}

button {
    cursor: pointer;
    border: 0;
    margin: 1px;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
}