.display {
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    text-align: right;
    background-color: #fff;
    height: 45px;
}

.display span {
    display: flex;
    justify-content: flex-end;
    height: 12px;
    font-size: 12px;
    padding: 2px 0 3px 0 ;
}

@media(min-width: 480px){

    .display{
        height: 68px;
        font-size: 36px;
    }

    .display span{
        font-size: 18px;
        padding: 2px 0 10px 0 ;
    }
}